<div class="container">
  <div class="header">
    <h1>Burgers!</h1>
  </div>

  <div class="image">
    <img src="assets/img/Beef-Hamburgers_7-2.jpg" alt="hamburger" height="300   width="400">
  </div>
  
  {{!-- Column 1 will hold the burers that are not devoured************************* --}}
  <div class="col1">
    <h3>Burgers that are not Devoured!</h3>
    <p>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
    </p>
  </div>

  {{!-- Column 2 will old the for to create the burger**************************** --}}
  <div class="col2">
    <h3>Add a Burger</h3>
    <form class="create-form">
      <div class="form-group">
        <label for="ham">Burger Name:</label>
        <input type="text" id="ham" name="name">
      </div>


      <button type="submit" name="devoured" value="0">Add Burger</button>
    </form>
  </div>


  {{!-- Column 3 will hold the Devoured burgers **********************************--}}
  <div class="col3">
    <h3>Burgers that are Devoured!</h3>
    <p>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </p>
  </div>





  {{!-- <div class="form-group">
    <label for="devoured">devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Not Devoured!<br>
    <input type="radio" name="devoured" value="0"> Devoured
  </div> --}}



</div>